/* ============================================================
  SECTIONS
============================================================ */
section.module:last-child {
  margin-bottom: 0;
}
section.module h2 {
  margin-bottom: 40px;
  font-family: "Roboto Slab", serif;
  font-size: 30px;
}
section.module p {
  font-size: 16px;
  font-family: Muli,Tahoma,Verdana,"DejaVu Sans",sans-serif;
  -webkit-text-stroke: .2px;
  margin-bottom: 40px;
}
section.module p:last-child {
  margin-bottom: 0;
}
section.module.content {
  padding: 40px 0;
}
section.module.parallax {
  height: 600px;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-attachment: fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
section.module.parallax h1 {
  color: rgba(255, 255, 255, 1);
  font-size: 36px;
  line-height: 500px;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
}
section.module.parallax .cta {
  text-align: center;
}
section.module.parallax .cta .cta-icon {
  display: inline-block;
  margin: 0 auto;
}
section.module.parallax-1 {
  background-image: url("../img/_small/1.jpg");
}
section.module.parallax-2 {
  background-image: url("../img/_small/2.jpg");
}
section.module.parallax-3 {
  background-image: url("../img/_small/3.jpg");
}

@media all and (min-width: 600px) {
  section.module h2 {
    font-size: 48px;
  }
  section.module p {
    font-size: 20px;
  }
  section.module.parallax h1 {
    font-size: 72px;
  }
}
@media all and (min-width: 960px) {
  section.module.parallax h1 {
    font-size: 90px;
  }
}
